* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /*cambiar a space evenly para mas comodidad responsive */
  align-items: center;
  flex-direction: column;
  margin: auto 0px;
  padding: 2rem;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.titulo {
  margin: 35px 0px;
  color: #60a5fa;
  font-size: clamp(1.3rem, 5vw, 3rem);
  background: linear-gradient(to bottom, #00eaff, #0099ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tarjeta {
  background-color: #374151;
  width: 100%;
  padding: 2rem;
  box-shadow: 0px 0px 15px 5px blueviolet;
  border-radius: 20px;
  min-height: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
justify-content: center;
/* Animacion */
opacity: 0;
animation: fadeSlideUp 0.8s ease-out forwards;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarjeta:nth-child(1) {
  animation-delay: 0.1s;
}
.tarjeta:nth-child(2) {
  animation-delay: 0.3s;
}
.tarjeta:nth-child(3) {
  animation-delay: 0.5s;
}
.tarjeta:nth-child(4) {
  animation-delay: 0.7s;
}

.texto {
  width: 100%;
  padding: 20px;
  text-align: center;
  margin: 0;
}

.texto h1 {
  color: #60a5fa;
  font-size: clamp(1.2rem, 4vw, 2rem);
  background: linear-gradient(to bottom, #00eaff, #0099ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 15px;
}

.texto p {
  font-size: clamp(0.9rem, 3vw, 1.4rem);
  color: #f5f5f5;
  word-break: break-word;
  overflow-wrap: break-word;
}

.texto a{
  color: #93c5fd;
  word-break: break-word;

}

/*Moviles*/
@media screen and (max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
  }
  .tarjeta {
    padding: 1.5rem;
    min-height: 150px;
  }
}

/*Animaciones en las tarjetas*/
@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.tarjeta:hover{
  transform: translateY(-20px);/*Eleva la tarjeta*/
  box-shadow: 0 20px 20px rgba(138, 43, 226, 0.5); /*Efecto de profundidad*/
}