* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  /* Crema menos intenso #FAF3E0  Crema mas intenso #FFFFBF*/
  background-color: #FAF3E0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  
}


