.container {
  flex: 1;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.containerRequisitos {
  width: 60vw;
}

.containerPeriodo{
  width: 60vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 20px;
}

.titulo {
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: clamp(1.3rem, 5vw, 3rem);
  color: #4b3621;
  background: linear-gradient(to bottom, #4b3621, #a68b6c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cardTipos {
  padding: 10px 30px;
  margin-bottom: 15px;
  background-color: #ede3d2;
  border-radius: 15px;
}

.cardTipos ul {
  list-style: inside;
}

.cardTipos ul li {
  margin-top: 5px;
  padding-bottom: 10px;
}

.cardInfoAdd {
  width: 60vw;
  padding: 10px 20px;
  margin-bottom: 15px;
  background-color: #ede3d2;
  border-radius: 15px;
}

.cardFechas {
  padding: 10px 20px;
  margin-bottom: 15px;
  background-color: #ede3d2;
  border-radius: 15px;
}

.parrafoInfoAdd {
  font-size: clamp(1rem, 4vw, 1.2rem);
  line-height: 1.5;
  margin-top: 10px;
  padding-bottom: 10px;
}

/* Color: #4b3621 text-shadow: #a68b6c  */
.subtitulo {
  font-size: clamp(1.1rem, 4vw, 1.7rem);
  color: #4b3621;
  text-shadow:
  1px 1px 2px #af9576,
  0 0 1em #a68b6c,
  0 0 0.3em #a68b6c;
}

.textoRequisitos {
  color: #1c1c1c;
  display: flex;
  flex-direction: column;
  text-align: justify;
  font-size: clamp(1rem, 4vw, 1.2rem);
  padding-top: 0.8rem;
  padding-bottom: 1rem;
}

.textoFechas {
  font-size: clamp(1rem, 4vw, 1.2rem);
  line-height: 1.5;
  padding-top: 0.8rem;
  padding-bottom: 1rem;
}
.textoHorario {
  font-size: clamp(1rem, 4vw, 1.2rem);
  line-height: 1.5;
  /* padding-top: 0.3rem; */
  padding-bottom: 1rem;
}

/*Estilo del mensaje de error*/
.error {
  flex: 1;
  display: flex;
  font-size: clamp(1rem, 2vw, 4vw);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f87171;
  background-color: #1f2937;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2rem;
  min-height: 50vh;
  width: 90vw;
}

.containerPuntos{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* animacion de carga */
.pulser{
  width: 15px;
  height: 15px;
  margin-bottom: 20px;
  background-color: #09f;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: cargar 1.2s infinite ease;
  z-index: 10;
}

.pulser:first-child{
  transition-delay: 300ms;
}

.pulser:nth-child(1){
  transition-delay: 0s;
}

.pulser:nth-child(2){
  transition-delay: 300ms;
}

.pulser:nth-child(3){
  transition-delay: 600ms;
}

@keyframes cargar {
   0%, 100% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .containerRequisitos {
    width: 90vw;
  }

  .containerPeriodo{
    grid-template-columns: 1fr;
  }

  .cardInfoAdd {
    width: 90vw;
  }

  .cardFechas {
    width: 80vw;
  }

  .textoRequisitos{
    line-height: 1.5;
  }
}
