.container {
  flex: 1;
  /* Por si la imagen queda muy abajo se sube con margin */
  /* margin-bottom: 200px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 3rem;
  min-height: 100vh;
}

.titulo {
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 40px 0;
  text-align: center;
  font-size: clamp(1.3rem, 5vw, 3rem);

  /* Por si un navegador no soporta el degradado */
 color: #4b3621;
  background: linear-gradient(to bottom, #4b3621, #a68b6c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.secciones {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 80px;
  width: 95%;
  animation: revelar linear both;
  animation-timeline: view();
  animation-range: entry 5% cover 45%;
}

/* Para imagen en la izquierda */
.imagen {
  max-width: 95vw;
  aspect-ratio: 16/9;
  object-fit: cover;
  border: 3px solid #d4c4a8;
  box-shadow: 0px 0px 10px 5px rgba(176, 169, 159);
  border-radius: 8px;
}

/* Para imagen en la derecha */
.imagenInvertida {
  max-width: 95vw;
  aspect-ratio: 16/9;
  object-fit: cover;
  border: 3px solid #d4c4a8;
  box-shadow: 0px 0px 10px 5px rgba(176, 169, 159);
  border-radius: 8px;
}

.cajaTexto {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.cajaTextoInvertida {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.tituloSeccion {
  font-size: clamp(1.2rem, 4vw, 2rem);
  /* Por si un navegador no soporta el degradado */
  font-size: clamp(1.3rem, 5vw, 3rem);
 color: #4b3621;
  background: linear-gradient(to bottom, #4b3621, #a68b6c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Descripcion de las secciones */
.descripcion {
  color: #1C1C1C;
  font-size: clamp(0.9rem, 3vw, 1.4rem);
  line-height: 1.5;
  word-break: break-word;
  overflow-wrap: break-word;
  margin-top: 10px;
}

/* PC y tablets */
@media (width > 720px) {
  .imagen {
    max-width: 40vw;
    float: left;
    border: 3px solid #d4c4a8;
    border-radius: 8px;
    margin-right: 15px;
    margin-left: 5%;
  }

  .cajaTexto {
    text-align: center;
    margin-top: 5%;
    margin-left: 55%;
  }

  /* Imagen en la derecha */
  .imagenInvertida {
    max-width: 40vw;
    float: right;
    border: 3px solid #d4c4a8;
    border-radius: 8px;
    margin-left: 15px;
    margin-right: 5%;
  }

  .cajaTextoInvertida {
    text-align: center;
    margin-top: 5%;
    margin-right: 55%;
  }
}

/*Pantallas muy cortas de largo*/
@media (max-height: 740px) {
  .container{
    margin-bottom: 60px;
  }
}

/*Estilo del mensaje de error*/
.error {
  flex: 1;
  display: flex;
  font-size: clamp(1rem, 2vw, 4vw);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f87171;
  background-color: #1f2937;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2rem;
  min-height: 100vh;
  width: 95vw;
}

.containerPuntos{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* animacion de carga */
.pulser{
  width: 15px;
  height: 15px;
  margin-bottom: 20px;
  background-color: #09f;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  animation: cargar 1.2s infinite ease;
  z-index: 10;
}

.pulser:nth-child(1){
  transition-delay: 0s;
}

.pulser:nth-child(2){
  transition-delay: 300ms;
}

.pulser:nth-child(3){
  transition-delay: 600ms;
}

@keyframes cargar {
   0%, 100% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
}

/*Animacion secciones*/
@keyframes revelar {
  from {
    opacity: 0;
    translate: 0 100px;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
    translate: 0 0;
    scale: 1;
  }
}

/* Mensaje cargando */
.cargando {
  font-style: italic;
  color: gray;
  text-align: center;
}

.imagenWrapper {
  position: relative;
}